body{
    justify-content:center;
    align-items: center;
    width:100vw;
    height:100vh;
    display:flex;
    background-image:linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

.main {
    position: relative;
    width: 30vmax;
    height: 30vmax;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog {
    position:relative;
    width: 20vmax;
    height:9vmax;
    z-index:0;
}

.dog::before {
    content:'';
    position:absolute;
    bottom:0;
    width:80%;
    height:1.2vmax;
    border-radius: 50%;
    background-color: rgba(28, 49, 48, 0.1);
    z-index:-2;
}

.dog-head {
    position:absolute;
    left:1.2vmax;
    bottom:0;
    width:6.5vmax;
    height:5vmax;
    border-top-left-radius: 4.40vmax;
    border-top-right-radius: 4.40vmax;
    border-bottom-left-radius: 3vmax;
    border-bottom-right-radius: 2.5vmax;
    background-color: #ff8147;
}

.dog-snout {
    position:absolute;
    left:-0.1vmax;
    bottom:0;
    width:5.4vmax;
    height:2.5vmax;
    border-top-right-radius: 3vmax;
    border-bottom-right-radius: 3vmax;
    border-bottom-left-radius: 4.5vmax;
    background-color: #d7dbd2;
}

.dog-snout::before {
    content:'';
    position:absolute;
    left:2%;
    width:0.9vmax;
    height:0.5vmax;
    border-bottom-left-radius: 1vmax;
    border-bottom-right-radius: 1vmax;
    background-color: #1c3130;
}

.dog-eye-left,
.dog-eye-right {
    position: absolute;
    top:2.5vmax;
    width: 0.3vmax;
    height: 0.2vmax;
    border-radius: 50%;
    background-color: #1c3130;
    animation: blink 3s infinite;
    transform-origin: center center;
}

.dog-eye-left {
    left: 1.2vmax;
}

.dog-eye-right {
    left: 2.6vmax;
}

.dog-eyes {
    position:absolute;
    margin-top: 3.5vmax;
    margin-left: 0.4vmax;
    z-index: 10;
}

.dog-body {
    position:absolute;
    width: 11.3vmax;
    height:4.5vmax;
    align-items: flex-end;
    display:flex;
    justify-content: center;
    left:3.75vmax;
    bottom:0.2vmax;
    z-index: -2;
    border-top-left-radius: 3vmax;
    border-top-right-radius: 5vmax;
    border-bottom-right-radius: 2vmax;
    background-color: #ff702e;
}

.dog-ear-left{
    position:absolute;
    width:4vmax;
    height:1vmax;
    border-bottom-left-radius: 4vmax;
    border-bottom-right-radius:1.5vmax;
    background-color: #e26538;
    top:4.1vmax;
    left:1.3vmax;
    transform-origin: bottom left;
    z-index: -2;
}

.dog-ear-right {
    position:absolute;
    width:4vmax;
    height:1vmax;
    top:3vmax;
    right:13vmax;
    transform-origin: bottom right;
    transform: rotateZ(-30deg);
    border-bottom-left-radius: 1.5vmax;
    border-bottom-right-radius: 4vmax;
    background-color: #e26538;
    z-index:-2;
}

.dog-front-leg {
    position:absolute;
    width:3vmax;
    height:1.8vmax;
    left:3vmax;
    border-radius: 40%/60%;
    background-color: #ff8147;
    transform: rotateZ(-8deg);
}

.dog-front-paw {
    position:absolute;
    left:30%;
    bottom:3%;
    width:12%;
    height:17%;
    border-radius: 40%/60%;
    background-color: #d7dbd2;
    transform: rotateZ(-11deg);
    border-top-left-radius: 4vmax;
    border-top-right-radius: 4vmax;
}

.dog-back-paw {
    position:absolute;
    left:58%;
    bottom:0;
    top:80%;
    width:12%;
    height:17%;
    border-radius: 40%/60%;
    background-color: #d7dbd2;
    transform: rotateZ(-10deg);
    border-top-left-radius: 4vmax;
    border-top-right-radius: 4vmax;
}

.dog-back-leg {
    position:absolute;
    width:3vmax;
    height:1.8vmax;
    left:8.5vmax;
    border-radius: 40%/60%;
    background-color: #ff8147;
    transform: rotateZ(-8deg);
}

.dog-tail{
    position: absolute;
    width:34%;
    height:20%;
    left:90%;
    bottom:3%;
    border-radius: 1.5vmax;
    background-color: #e96839;
    z-index:-2;
    transform-origin: left center;
    animation: wag 2s infinite;
}

@keyframes blink {
    0%, 90%, 100%{
        transform: scaleY(1);
    }
    95%{
        transform: scaleY(0.2);
    }
}

@keyframes wag {
    0%{
        transform:rotateZ(0deg);
    }
    50%{
        transform:rotateZ(-20deg);
    }
    100%{
        transform:rotateZ(0deg);
    }
}
